<html ng-app>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">FLIGHTS TRACKER</a>
    </div>
    <div class="panel panel-default row">
        <div class="col-md-6">

            <table class="table"">
                <tr>
                    <td>Flight #</td>
                    <td>Date/Time</td>
                    <td></td>

                </tr>
            <form action="/api/flights/create" method="post">
                <tr>
                    <td><input type="text" name="flightNum" placeholder="AA100" /></td>
                    <td><input type="datetime-local" name="datetime" /></td>
                    <td><button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
                </tr>
            </form>
                <% for (var i = 0; i < flights.length; i++) { %>
                <tr>
                    <td><%= flights[i].get('flightNum') %></td>
                    <td><%= flights[i].get('datetime') %></td>
                    <form action="/api/flights/<%= flights[i].id %>" method="post">
                        <td><button type="submit" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                    </form>
                </tr>
                <% } %>
            </table>
        </div>
        <div class="col-md-6"><div id="map"></div>
    </div>
</div>
    <script src="js/map.js"></script>
    <script src="js/app.js"></script>
</body>
</html>


